<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.americanbible.biblesearch"
    version="1.0.4">

    <name>American Bible Society Biblesearch</name>

    <engines>
        <engine name="cordova" version=">=1.7.0" />
    </engines>

    <js-module src="ABSBibleSearch.js" name="ABSBibleSearch">
        <clobbers target="plugins.absBiblesearch" />
    </js-module>

    <platform name="android">
        <!-- Just to clarify, this plugin is js only, and requires no native code. -->
    </platform>

    <platform name="ios">
        <!-- Just to clarify, this plugin is js only, and requires no native code. -->
    </platform>
</plugin>
